<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>App Overview</title>

        <script>
            // Show all attributes as buttons
            // 1) Structure as Json? Xml? use directly?
            // 2) Select attribute based on choice of structure
            // 3) Extract values from attributes (Fallback value?)
            // 4) Plot to whatever
            // On click link up that attribute

            function mapRaw(raw, html_anchor){
                html_anchor.innerHTML += "<button>" + raw + "</button><br>";
            }

            function mapJson(obj, html_anchor, path = []){
                console.log("mapping data for " + html_anchor);
                for (let key in obj) {
                    if (obj.hasOwnProperty(key)) {
                        if(isPrimitive(obj[key])){
                            //path.push(key);
                            let var_path = "";
                            for(let p in path){
                                var_path += "["+path[p]+"]";
                            }
                            //console.log(var_path + " = " + obj[key]);
                            html_anchor.innerHTML += var_path + "<button>" + key + " (" + obj[key] + ")" + "</button><br>"
                        } else {
                            let new_path = path.slice();
                            new_path.push(key);
                            mapJson(obj[key], html_anchor, new_path);
                        }
                    }
                }
            }

            function saveAppState(name_app, name_prop, path, onComplete){
                // TODO THIS: Copy paste from: https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/send
                let xhr = new XMLHttpRequest();
                //Send the proper header information along with the request
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

                xhr.open("POST", '/server', true);

                xhr.onreadystatechange = function() {//Call a function when the state changes.
                    if(this.readyState == XMLHttpRequest.DONE) {
                        // Request finished. Do processing here.
                        onComplete(this.status);
                    }
                };

                xhr.send("app=" + name_app + "&prop=" + name_prop + "&path=" + path);
            }

            var entries = {{ app_entry_list|safe }};

            /**
             * Good idea! https://stackoverflow.com/a/31538091
             * @param test
             * @returns {boolean}
             */
            function isPrimitive(test) {
                return (test !== Object(test));
            }
            
            function refresh() {
                let container = document.getElementById("entries_container");
                container.innerHTML = "";

                let selection = document.querySelector('input[name="data_representation"]:checked').value;

                console.log("refreshing for:");
                console.log(entries.length);

                switch (selection) {
                    case "JSON":
                        for(let entry in entries){
                            console.log("handling: " + entries[entry]);
                            try{
                                mapJson(JSON.parse(entries[entry]), container);
                            } catch (e) {
                                console.log("Unable to parse json:" + entries[entry])
                            }

                        }
                        break;
                    case "RAW":
                        for(let entry in entries){
                            console.log("handling: " + entries[entry]);
                            mapRaw(entries[entry], container);
                        }
                }
            }
        </script>

    </head>

    <body>

        <p>============================</p>

        <input type="radio" name="data_representation" value="JSON" checked>JSON<br>
        <input type="radio" name="data_representation" value="RAW">RAW<br>
        <button onclick="refresh()">Refresh!</button>

        <p>============================</p>

        <!-- Generate layout representation -->

        <div id="entries_container"></div>
    </body>

</html>


