<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="https://d3js.org/d3.v5.min.js"></script>

        <script src="{{ url_for('static', filename='logic.js') }}"></script>
        <script src="{{ url_for('static', filename='site_detail.js') }}"></script>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site_detail.css') }}">
        <title>App Overview</title>
    </head>

    <body>

        <script>
            // Get entries from backend into js
            let entries = {{ app_entry_list|safe }};
        </script>

        <svg></svg>

        <p>============================</p>

        <input type="radio" name="data_representation" value="JSON" checked>JSON<br>
        <input type="radio" name="data_representation" value="RAW">RAW<br>
        <button onclick="refresh()">Refresh!</button>

        <p>============================</p>

        <!-- Generate layout representation -->

        <div id="entries_container"></div>
    </body>

</html>


